<h1>Gossip#show</h1>
<p>Find me in app/views/gossip/show.html.erb</p>

<p>
  Title : <%= @gossip.title %><br/>
  Content : <%= @gossip.content %><br/>
  Author : <%= @gossip.user.first_name %> --><%= link_to "son profil", profil_path(@id)%> <br/>
  City : <%= @gossip.user.city.name %> --><%= link_to "Details", city_path(@id)%><br/>
</p>
<p><%= link_to "Edit", edit_gossip_path(@id), class:"btn btn-primary"%></p>
