<h1>Profil#show</h1>
<p>Find me in app/views/profil/show.html.erb</p>

first_name : <%= @gossip.user.first_name %><br/>
last_name : <%= @gossip.user.last_name %><br/>
description : <%= @gossip.user.description %><br/>
email : <%= @gossip.user.email %><br/>
age : <%= @gossip.user.age %><br/>
city : <%= @gossip.user.city.name %> --><%= link_to "Details", city_path(@id)%><br/>